- name: Log in to Docker Hub
  uses: docker/login-action@v3
  with:
    username: ${{ secrets.DOCKERHUB_USERNAME }}
    password: ${{ secrets.DOCKERHUB_TOKEN }}

- name: Build and Push Docker image
  uses: docker/build-push-action@v4
  with:
    context: ./Node.js
    file: ./Node.js/Dockerfile
    push: true
    tags: ananyamr/lab5:latest
